<div class="right-card">
    <div class="title">ABOUT ME</div>
    <div class="content">asdjasdklasdj asdljlas djlasj dlasj dkl</div>
    <div class="title">ABOUT ME</div>
    <div class="content">asdjasdklasdj asdljlas djlasj dlasj dkl</div>
    <div class="title">ABOUT ME</div>
    <div class="content">asdjasdklasdj asdljlas djlasj dlasj dkl</div>
    <div class="title">ABOUT ME</div>
    <div class="content">asdjasdklasdj asdljlas djlasj dlasj dkl</div>
    <div class="title">ABOUT ME</div>
    <div class="content">asdjasdklasdj asdljlas djlasj dlasj dkl</div>
    <div class="title">ABOUT ME</div>
    <div class="content">asdjasdklasdj asdljlas djlasj dlasj dkl</div>
</div>