.container{
    display: flex;
    justify-content: center;
    .card {
        margin-top: 3%;
        width: 70%;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}