<div class="left-card" >
    <div class="img-wrapper" >
        <spin-avatar class="avatar"> </spin-avatar>
    </div>
    <div class="name">
        TRUONG VAN CUONG
    </div>
    <div class="information">
        <div class="information-form">
            <div class="subject">D.O.B:</div>
            <div class="DOB-value">31th Jan 2000</div>
        </div>
        <div class="information-form">
            <div class="subject">Address:</div>
            <div class="address-value">Hue, VietNam</div>
        </div>
        <div class="information-form">
            <div class="subject">Phone:</div>
            <div class="address-value">09833xxxxx</div>
        </div>
        <div class="information-form">
            <div class="subject">Email:</div>
            <div class="address-value">cuong@gmail.com</div>
        </div>
        <div class="information-form">
            <div class="subject">Website:</div>
            <div class="address-value">abc.com</div>
        </div>
    </div>
</div>
